.footer-link {
  padding: 0;
  margin: 0;
}

.footer-link li {
  list-style: none;
}

.footer-link li a {
  font: 400 14px/28px "Roboto", sans-serif;
  color: #fefefe;
  position: relative;
  padding-left: 30px;
}

.footer-link li a svg {
  font-size: 14px;
  color: #33BBFF;
  padding-right: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 300ms linear 0s;
}

.footer-link li a:hover, .footer_area .footer_row .footer_about .quick_link li a:focus {
  color: #33BBFF;
}
.footer-link li a:hover svg, .footer_area .footer_row .footer_about .quick_link li a:focus svg {
  left: 8px;
}
